@import 'styleUtils/common.scss';

.record-form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.text-input,
  &.text-display,
  &.integer-input,
  &.integer-display,
  &.number-input,
  &.number-display,
  &.boolean-input,
  &.boolean-display,
  &.textarea-input,
  &.textarea-display,
  &.datetime-display,
  &.ref-display,
  &.image-display-null,
  &.file-display-null {
    width: 100%;
  }

  &.datetime-input-container {
    display: block;
    width: 100%;
  }

  &.back-ref-select,
  &.back-ref-list,
  &.ref-select,
  &.ref-display {
    width: 100%;
  }
}

.text-input,
.integer-input,
.number-input,
.datetime-input,
.textarea-input,
.dropdown-custom-input {
  &.validation-error {
    border-color: #dc3545;
  }
}

.dropdown-select,
.ref-select,
.back-ref-select,
.asso-ref-select {
  &.validation-error .Select-control {
    border-color: #dc3545;
  }
}

.wysiwyg {
  &.validation-error .mce-tinymce.mce-container {
    border-color: #dc3545;
  }
}

.datetime-input {
  width: 100%;
}

.text-input,
.integer-input,
.number-input,
.datetime-input {
  @include text-input;
  height: to-rem(38px);
  vertical-align: middle;
}

.text-display,
.integer-display,
.number-display,
.datetime-display,
.ref-display,
.image-display-null,
.file-display-null {
  &.full {
    @include text-input;
    border-color: rgba(#ccc, 0.3);
    height: to-rem(38px);
    vertical-align: middle;
  }
}

.textarea-input {
  @include text-input;
  padding-top: to-rem(12px);
  padding-bottom: to-rem(12px);
}

.textarea-display {
  @include text-input;
  padding-top: to-rem(12px);
  padding-bottom: to-rem(12px);
  border-color: rgba(#ccc, 0.3);
  color: #495057;
}

.boolean-input,
.boolean-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: to-rem(38px);
  vertical-align: middle;
}

.boolean-toggle-container {
  line-height: 1;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-custom-input {
  @include text-input;
  width: 100%;
  height: to-rem(38px);
  margin-top: to-rem(10px);
}

.image-input,
.file-input {
  display: flex;
  flex-direction: column;
}

.image-asset-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-add {
  @include btn;
  @include btn-primary;
  display: inline-block;
  font-size: to-rem(12px);
  line-height: to-rem(12px);
  padding: to-rem(8px) to-rem(12px);
}

.btn-clear {
  @include btn;
  @include btn-secondary;
  font-size: to-rem(12px);
  line-height: to-rem(12px);
  padding: to-rem(8px) to-rem(12px);
  margin-top: to-rem(10px);
}

.btn-create-ref {
  margin-top: to-rem(10px);

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.back-ref-list,
.asso-ref-list {
  display: block;
  columns: 2;
  margin-bottom: unset;
}

.back-ref-list-item,
.asso-ref-list-item {
  line-height: to-rem(38px);
}

/*
 * Override react-select styles
 */
.Select-placeholder,
.Select-option,
.Select-noresults {
  padding-left: $input-horizontal-padding !important;
  padding-right: $input-horizontal-padding !important;
}

.Select--single {
  .Select-value {
    padding-left: $input-horizontal-padding !important;
    padding-right: $input-horizontal-padding !important;
  }
}

.Select-control {
  padding-left: #{$input-horizontal-padding - to-rem(5px)} !important;
  padding-right: #{$input-horizontal-padding - to-rem(5px)} !important;
}

.Select--multi .Select-input {
  margin-left: 0px !important;
}

.Select-multi-value-wrapper {
  & > .Select-input {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
