.form-login {
	margin: 40px auto;
	max-width: 330px;
}

.form-login-username {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-login-password {
	margin-bottom: 24px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
