@import 'styleUtils/common.scss';
@import 'styleUtils/effect.scss';

$horizontal-spacing: to-rem(32px);

.list-page {
  .topbar {
    padding: to-rem(24px) $horizontal-spacing;
    background-color: white;
  }

  .title {
    font-family: Lato-Light;
    font-size: 38px;
    line-height: 38px;
  }

  .list-action {
    @include btn;
    @include btn-primary;
    display: inline-block;
    font-size: to-rem(18px);
    line-height: to-rem(18px);
    padding: to-rem(10px) to-rem(18px);
  }

  .action-container {
    float: right;

    .list-action {
      margin-left: to-rem(10px);
    }
  }

  .list-loading, .list-empty {
    padding: to-rem(24px) $horizontal-spacing to-rem(48px);
    font-family: Lato-Light;
    font-size: 18px;
    line-height: 18px;
  }

  .list-content {
    margin-top: to-rem(30px);
    margin-bottom: to-rem(38px);
    background-color: white;
    overflow-x: auto;
  }

  .list-table {
    display: table;
    min-width: calc(100vw - 250px);
  }

  .table-row {
    display: table-row;

    & .table-cell:first-child {
      padding-left: to-rem(32px);
    }

    & .table-cell:last-child {
      padding-right: to-rem(32px);
    }
  }

  .table-cell {
    display: table-cell;
    height: to-rem(66px);
    padding-right: to-rem(32px);
    border-bottom: 1px #ECEEEF solid;
    font-family: HelveticaNeue;
    vertical-align: middle;
    max-width: to-rem(250px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-header {
    display: table-header-group;
    background: #FFFFFF;

    .table-cell {
      height: to-rem(50px);
      font-family: HelveticaNeue-Bold;
    }
  }

  .table-body {
    display: table-row-group;

    .table-row:nth-child(2n-1) {
      background-color: #F9F9F9;
    }
  }

  .item-action {
    @include btn;
    @include btn-secondary;
    display: inline-block;
    font-size: to-rem(12px);
    line-height: to-rem(12px);
    padding: to-rem(8px) to-rem(12px);
    margin-left: to-rem(5px);
  }

  .pagination {
    @include pagination-position;
  }
}
