@import 'styleUtils/common.scss';
@import 'styleUtils/effect.scss';

$horizontal-spacing: to-rem(32px);

.list-page {
  @include record-list-page;

  .topbar {
    @include record-topbar($horizontal-spacing);
  }

  .title {
    @include record-topbar-title;
  }

  .list-action {
    @include record-topbar-action;
  }

  .action-container {
    @include record-topbar-action-container;
  }

  .list-content {
    @include record-list-content;
  }

  .pagination {
    @include pagination-position;
  }

  .list-loading, .list-empty {
    padding: to-rem(24px) $horizontal-spacing;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
  }

  @include list-filter-menu;
  @include list-filter-tag-list;

  .list-table {
    display: table;
    min-width: 100%;
  }

  .table-row {
    display: table-row;

    & .table-cell:first-child {
      padding-left: to-rem(32px);
    }

    & .table-cell:last-child {
      padding-right: to-rem(32px);
    }
  }

  .table-cell {
    display: table-cell;
    height: to-rem(66px);
    padding-right: to-rem(32px);
    border-bottom: 1px #ECEEEF solid;
    font-family: HelveticaNeue, sans-serif;
    vertical-align: middle;
    min-width: to-rem(250px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-header {
    display: table-header-group;
    background: #FFFFFF;

    .table-cell {
      height: to-rem(50px);
      font-family: Helvetica, sans-serif;
      font-weight: 700;
    }
  }

  .table-body {
    display: table-row-group;

    .table-row:nth-child(2n-1) {
      background-color: #F9F9F9;
    }
  }

  .item-action {
    @include btn;
    @include btn-secondary;
    display: inline-block;
    font-size: to-rem(12px);
    line-height: to-rem(12px);
    padding: to-rem(8px) to-rem(12px);
    margin-left: to-rem(5px);
  }
}
