$base-font-size: 14px;

@function to-rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

@mixin text-input {
  padding: 0 to-rem(16px);
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &::placeholder {
    color: #999999;
  }
}

@mixin btn {
  display: block;
  border-radius: to-rem(4px);
  font-size: to-rem(18px);
  cursor: pointer;
  text-decoration: none;
}

@mixin btn-primary {
  $btn-primary-bg-color: #0275D8;

  background-color: $btn-primary-bg-color;
  border: 1px solid $btn-primary-bg-color;
  color: white;

  @include btn-hover-effect-darken($btn-primary-bg-color);
}

@mixin btn-secondary {
  $btn-secondary-bg-color: white;

  background-color: $btn-secondary-bg-color;
  border: 1px solid #CCCCCC;
  color: #373A3C;

  @include btn-hover-effect-darken($btn-secondary-bg-color);
}
