.import-result-error {
  margin: 15px -15px -15px -15px;
  max-height: 250px;
  overflow-y: auto;
  border-top: 1px solid darken(#f9f9f9, 10);
  border-bottom: 1px solid darken(#f9f9f9, 10);

  & .import-result-error-item {
    padding: 10px 15px;
    background-color: #f9f9f9;
  }

  & .import-result-error-item:nth-child(2n-1) {
    background-color: darken(#f9f9f9, 5);
  }
}

@mixin import-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.import-count {
  @include import-count;
  margin-bottom: 15px;
}

.import-count-error {
  @include import-count;
  color: red;
}
