@import 'styleUtils/common.scss';

.change-password {
  .topbar {
    @include record-topbar(to-rem(32px));
  }

  .title {
    @include record-topbar-title;
  }

  .password-form {
    @include record-form;
    margin: to-rem(20px) to-rem(32px);
  }

  .password-form-group {
    display: flex;
    width: 100%;
  }

  .password-form-group:not(:first-child) {
    margin-top: to-rem(10px);
  }

  .password-form-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: to-rem(200px);
    line-height: to-rem(38px);
    vertical-align: top;
    flex-shrink: 0;

    label {
      margin-bottom: 0;
    }
  }

  .password-form-field {
    @include text-input;
    width: 100%;
    height: to-rem(38px);

    &.static {
      border-color: rgba(#CCC, 0.3);
      display: flex;
      align-items: center;
    }
  }

  .submit-message {
    margin-left: auto;
    margin-right: to-rem(32px);
    text-align: end;
  }

  .btn-submit {
    @include btn;
    @include btn-primary;
    font-size: to-rem(14px);
    padding: to-rem(5px) to-rem(9px);
    margin-left: auto;
    margin-top: to-rem(10px);
    margin-right: to-rem(32px);
  }
}
