@import 'styleUtils/common.scss';

.change-password {
  .topbar {
    @include record-topbar(to-rem(32px));
  }

  .title {
    @include record-topbar-title;
  }

  .password-form {
    @include record-form;
  }

  .password-form-group {
    display: table;
    width: 100%;
  }

  .password-form-group:not(:first-child) {
    margin-top: to-rem(10px);
  }

  .password-form-label {
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 26%;
    min-width: to-rem(150px);
    line-height: to-rem(38px);
    vertical-align: top;

    label {
      margin-bottom: 0;
    }
  }

  .password-form-field {
    @include text-input;
    display: table-cell;
    width: 100%;
    height: to-rem(38px);
    vertical-align: middle;

    &.static {
      border-color: rgba(#CCC, 0.3);
    }
  }

  .btn-submit {
    @include btn;
    @include btn-primary;
    font-size: to-rem(14px);
    padding: to-rem(5px) to-rem(9px);
    margin-top: to-rem(10px);
  }
}
