@import 'styleUtils/common.scss';

.filter-menu {
  .add-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: to-rem(15px) to-rem(9px);

    .label {
      width: to-rem(136px);
      font-size: to-rem(16px);
      line-height: to-rem(16px);
    }

    .config-select {
      display: block;
      width: to-rem(345px);
    }

    .btn-config-select {
      position: absolute;
      top: 0;
      left: 0;
      width: to-rem(345px);
      height: to-rem(38px);
      line-height: to-rem(38px);
      opacity: 0;
      cursor: pointer;
    }

    .btn-add {
      @include btn;
      @include btn-primary;
      width: to-rem(65px);
      font-size: to-rem(16px);
      line-height: to-rem(16px);
      margin-left: to-rem(10px);
    }
  }
}
