@import 'styleUtils/common.scss';

.filter-tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: to-rem(-5px) to-rem(-5px);

  .tag {
    display: flex;
    flex-direction: row;
    padding: to-rem(9px) to-rem(16px);
    margin: to-rem(5px) to-rem(5px);
    background: #EFF3F5;
    border-radius: 100px;
    align-items: center;
  }

  .label {
    font-weight: 700;
    line-height: to-rem(14px);
    max-width: to-rem(100px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .query-type {
    margin-left: to-rem(5px);
    line-height: to-rem(14px);
    color: #0275D8;
  }

  .value {
    font-weight: 700;
    margin-left: to-rem(5px);
    line-height: to-rem(14px);
    max-width: to-rem(250px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #0275D8;
  }

  .btn-close {
    cursor: pointer;
    position: relative;
    color: #0275D8;
    opacity: 1;
    font-weight: 100;
    font-size: to-rem(21px);
    line-height: to-rem(21px);
    background-color: white;
    border-radius: 100px;
    width: to-rem(24px);
    height: to-rem(24px);
    margin-left: to-rem(5px);

    &:hover {
      color: #0275D8;
      opacity: .75;
    }

    span {
      width: 100%;
      height: 100%;
    }
  }
}
