@import 'styleUtils/common.scss';

.layout {
  position: relative;
  width: 100vw;
  height: 100vh;

  .scroll-view {
    position: absolute;
    left: to-rem(250px);
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
  }

  .content {
    overflow: auto;
    min-width: to-rem(700px);
    min-height: 100vh;
  }
}
