@import 'styleUtils/common.scss';
@import 'styleUtils/effect.scss';

.pagination-container {
  .pagination-item {
    background: white;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
  }

  .pagination-item:first-child {
    border-left: 1px solid #cccccc;
    border-radius: 2px 0 0 2px;
  }

  .pagination-item:last-child {
    border-right: 1px solid #cccccc;
    border-radius: 0 2px 2px 0;
  }
}

.page-item-container {
  .link {
    display: inline-block;
    padding: to-rem(10px) to-rem(14px);
    color: #4a4a4a;
    @include btn-hover-effect-darken(white);

    &:hover {
      text-decoration: none;
    }
  }

  &.active {
    color: #0275d8;
    border: 1px solid #0275d8;

    .link {
      color: #0275d8;
    }
  }

  .disabled {
    color: #cccccc;
    cursor: default;
  }
}
