@import 'styleUtils/common.scss';

.record-form-page {

  .record-form-groups {
    & > .record-form-group:not(:first-child) {
      margin-top: to-rem(10px);
    }
  }

  .record-form-group {
    display: flex;
    width: 100%;
  }

  .record-form-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: to-rem(200px);
    line-height: to-rem(38px);

    label {
      margin-bottom: 0;
    }

    &.validation-error {
      color: #dc3545;
    }
  }

  .record-form-field {
    flex: 1;
  }
}
