@import 'styleUtils/common.scss';

.show-page {
  .topbar {
    @include record-topbar(to-rem(32px));
  }

  .title {
    @include record-topbar-title;
  }

  .show-action {
    @include record-topbar-action;
  }

  .action-container {
    @include record-topbar-action-container;
  }

  .record-view {
    @include record-form;
  }

  .record-form-group {
    display: table;
    width: 100%;
  }

  .record-form-group:not(:first-child) {
    margin-top: to-rem(10px);
  }

  .record-form-label {
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    width: 26%;
    min-width: to-rem(150px);
    line-height: to-rem(38px);
    vertical-align: top;

    label {
      margin-bottom: 0;
    }
  }

  .record-form-field {
    // leave the style to field itself
  }
}
