.sort-button {
    cursor: pointer;
}

.sort-button .up {
    width: 0px;
    height: 0px;
    border-bottom: 5px solid lightgrey;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: none;
}

.sort-button .up-active {
    border-bottom: 5px solid black;
}

.sort-button .mid {
    height: 2px;
    background-color:transparent;
}

.sort-button .down {
    width: 0px;
    height: 0px;
    border-top: 5px solid lightgrey;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: none;
}

.sort-button .down-active {
    border-top: 5px solid black;
}
